# eBay MCP Server

## Documentation for the FastMCP packagecan be found here
https://gofastmcp.com/llms.txt - index of all docs
https://arc.net/l/quote/tugtxwli - contains the entire documentation. Note this may exceed the context window of an LLM
The Project Github can be found here: https://github.com/jlowin/fastmcp


## eBay Docs
Documentation for the eBay Inventory API can be found here: ebay_docs/Sell Inventory v1 API Overview.json

## Polite informative respinse to the LLM
Be informative and polite in your responses to the LLM. Suggest what to do next and why.
