# eBay MCP Server

## Documentation for the FastMCP packagecan be found here
https://gofastmcp.com/llms.txt - index of all docs
https://arc.net/l/quote/tugtxwli - contains the entire documentation. Note this may exceed the context window of an LLM
The Project Github can be found here: https://github.com/jlowin/fastmcp


## 
